*
!.*
!.**/*
!README.md
.FBReader/
.cache/
.cargo/
.dendron/
.gnupg/
.local/
.npm/
.password-store/
.pki/
.ssh/
.vscode-oss/
.bash_history
.bash_logout
.dendron*
.config/chromium/
.config/VSCodium/
.config/dconf/
.config/fluent-reader/
.config/Mailspring/
.config/mimeapps.list
.config/autostart/
.config/QtProject.conf
.config/nextjs-nodejs/
.config/libreoffice/
.config/okularrc
.config/FBReader*/
.config/com.github*/
.config/simple-update-notifier/
.config/yay/
.config/pulse/
.config/libreoffice/
.config/deluge/
.config/figma-linux/
.config/zoom.conf
.config/zoomus.conf
.zoom/
.thunderbird/

